<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home Page
    <form method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name" required>
        Phone: <input type="text" name="phone" required>
        <button type="submit">Submit</button>
    </form>
    {% for i in item %}
    <div>
        Name: {{i.name}}<br>
        Phone: {{i.phone}}
    </div>
    {% endfor %}
</body>
</html>